version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: msecom_sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=yourStrong(!)Password
    ports:
      - "1433:1433"
    networks:
      - micro_ecommerce

  rabbitmq:
    image: rabbitmq:3.13.7-management
    container_name: msecom_rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - micro_ecommerce
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 5s
      timeout: 5s
      retries: 10

  buildblocks:
    container_name: msecom_buildblocks
    build: 
      context: .
      dockerfile: ./Dockerfile.buildblocks
    networks:
      - micro_ecommerce

  gateway:
    container_name: msecom_gateway
    build: 
      context: .
      dockerfile: ./ApiGateways/Dockerfile
    ports:
      - "5000:8080"
    depends_on:
      - order
      - stock
    networks:
      - micro_ecommerce
    
  order:
    container_name: msecom_order
    build: 
      context: .
      dockerfile: ./Services/Order/src/Order.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=SalesMicroservice_OrderDb;User Id=sa;Password=yourStrong(!)Password;TrustServerCertificate=true;MultipleActiveResultSets=true;
      - RabbitMqSettings__HostName=rabbitmq
      - RabbitMqSettings__Port=5672
      - RabbitMqSettings__UserName=guest
      - RabbitMqSettings__Password=guest
    ports:
      - "5001:8080"
    depends_on:
      buildblocks:
        condition: service_started
      sqlserver:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    networks:
      - micro_ecommerce
  
  stock:
    container_name: msecom_stock
    build: 
      context: .
      dockerfile: ./Services/Stock/src/Stock.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=SalesMicroservice_ProductDb;User Id=sa;Password=yourStrong(!)Password;TrustServerCertificate=true;MultipleActiveResultSets=true;
      - RabbitMqSettings__HostName=rabbitmq
      - RabbitMqSettings__Port=5672
      - RabbitMqSettings__UserName=guest
      - RabbitMqSettings__Password=guest
    ports:
      - "5002:8080"
    depends_on:
      buildblocks:
        condition: service_started
      sqlserver:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    networks:
      - micro_ecommerce
  
networks:
  micro_ecommerce:
    driver: bridge